@using static SoldierFit.Utilities.WebConstants;

@model WorkoutDetailsViewModel

@{
    ViewData["Title"] = "Workout Details";
    bool isAdmin = this.User.IsInRole(AdminRoleName);
}

<div class="container mt-5">
    <h1 class="display-4">Workout Details</h1>
    <hr />

    <div class="card mb-3">
        <img src="@Model.ImageUrl" class="card-img-top" alt="Workout Image">
        <div class="card-body">
            <h5 class="card-title">@Model.Title</h5>
            <p class="card-text">@Model.FullDescription</p>
            <ul class="list-unstyled">
                <li><strong>Date:</strong> @Model.Date.ToShortDateString()</li>
                <li><strong>Time:</strong> @Model.Time.ToString("hh\\:mm")</li>
                <li><strong>Category:</strong> @Model.CategoryName</li>
                <li><strong>Max Participants:</strong> @Model.MaxParticipants</li>
                <li><strong>Current Participants:</strong> @Model.CurrentParticipants</li>
                <li><strong>Is For Beginners:</strong> @((Model.IsForBeginners ? "yes" : "no"))</li> 
                <li><strong>Athlete:</strong> @($"{Model.Athlete.FirstName} {Model.Athlete.MiddleName} {Model.Athlete.LastName}")</li>
                <li><strong>Athlete Phone Number:</strong> @Model.Athlete.PhoneNumber</li>
            </ul>
            @if (!isAdmin)
            {
                @if (ViewBag.AthleteIsParticipant ?? false)
                {
                    <form asp-controller="Workout" asp-action="Leave" method="post">
                        <input type="hidden" name="workoutId" value="@Model.Id" />
                        <button type="submit" class="btn btn-warning">Leave Workout</button>
                    </form>
                }
                else
                {
                    <form asp-controller="Workout" asp-action="Join" method="post">
                        <input type="hidden" name="workoutId" value="@Model.Id" />
                        <button type="submit" class="btn btn-success">Join Workout</button>
                    </form>
                }
            }

            @if (isAdmin)
            {
                <a asp-controller="Workout" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit Workout</a>
                <a asp-controller="Workout" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete Workout</a>
            }

            @if (ViewBag.CurrentAthleteId != null)
            {
                @if (Model.AthleteId == ViewBag.CurrentAthleteId)
                {
                    <a asp-controller="Workout" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit Workout</a>
                    <a asp-controller="Workout" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete Workout</a>
                }
            }
        </div>
    </div>
</div>